__pycache__/
*.pyc
.ipynb_checkpoints/
.vscode/
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment variables
.env

# Build / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editors / IDEs
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
